					<div id="login">
		                <h1>Login</h1>
						<form id="login-form" role="form" action="/users/login" method="post" data-parsley-validate>
							<div class="form-group">
								<label for="email">Email</label>
								<input name="email" id="email-login" type="email" class="form-control" placeholder="Enter email" data-parsley-trigger="change" required />
							</div>
							<div class="form-group">
								<label for="password">Password</label>
								<input name="password" id="password-login" type="password" class="form-control" placeholder="Password" required />
							</div>
							<button type="submit" class="btn btn-default">Sign in</button>
						</form>
		                
		            </div>